[Unit]
Description=RSync Monitoring Service
After=network.target

[Service]
Type=simple
User=deployer
Group=deployer
WorkingDirectory=/opt/apps/nve-rsync-host-monitor-test
Environment="PATH=/opt/apps/nve-rsync-host-monitor-test/venv/bin"
ExecStart=/opt/apps/nve-rsync-host-monitor-test/venv/bin/python -m app.main
Restart=always
RestartSec=10
StandardOutput=append:/opt/apps/nve-rsync-host-monitor-test/logs/out.log
StandardError=append:/opt/apps/nve-rsync-host-monitor-test/logs/err.log

[Install]
WantedBy=multi-user.target
